[DEFAULT]
FallbackOwner=Denperidge-Redpencil
GenerateNav=True

[divio-docs-gen]
Path=divio-docs-gen

[mu-cl-resources]
Path=Denperidge-Redpencil/mu-cl-resources

[mu-project]
Path=Denperidge-Redpencil/mu-project@master

[mu-migrations-service]
Path=mu-migrations-service@master

[project]
Path=project

[mu-javascript-template]
Path=mu-javascript-template

[mu-ruby-template]
Path=mu-ruby-template

[ember-proxy-service]
Path=ember-proxy-service
