[Output Configuration]
writetodisk = True
generatenav = True
docsbasedir = docs/

[Naming Scheme]
tutorials = Tutorials
how_to_guides = How-Tos
explanation = explanation
reference = Reference

[Repository Selection]

[https://github.com/mu-semtech/mu-cl-resources]
url = https://github.com/mu-semtech/mu-cl-resources

[https://github.com/denperidge-redpencil/project]
url = https://github.com/denperidge-redpencil/project
Move=documentation.md/reference
Ignore=building-a-template.md//why-semantic-microservices.md
